body {
  font-family: "Futura PT";
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
span {
  font-size: 14px;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px 20px 15px;
  /* border-bottom: 1px solid #e5e5e5; */
}
.header-left {
  cursor: pointer;
}
.logo {
  height: 30px;
  position: relative;
}

.version {
  position: fixed;
  top: 14px;
  left: 42px;
  background-color: #ff6600;
  padding: 4px;
  border-radius: 4px;
  font-size: 0.9em;
  color: white;
}
.header-right {
  cursor: pointer;
}
.header-right img {
  height: 14px;
  width: 16px;
}

.sidebar-container {
  display: flex;
  gap: 30px;
}

.sidebar {
  background-color: #ffffff;
  width: 290px;
  height: 446px;
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

.main-container {
  padding-top: 30px;
  flex: 1;
}
.main-header-locations {
  font-size: 32px;
  font-weight: 500;
}
.menu__input {
  display: none;
}
.menu__label {
  display: flex;
  align-items: center;
  padding: 21px 21px 21px 15px;
  color: #000;
  cursor: pointer;
  position: relative;
  font-size: 17px;
  font-weight: normal;
  border-bottom: #f4f4f4 solid 1px;
}
.menu__label:hover {
  background-color: #455c91;
  color: white;
}
.menu__label img {
  margin-right: 15px;
}

.menu__input:checked + .menu__label {
  background-color: #172139;
  color: white;
}
.hide-menu {
  margin-top: 22px;
  background-color: transparent;
  border: none;
  color: #ff6600;
  cursor: pointer;
  font-size: 17px;
  font-weight: 300;
  padding: 10px;

  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.main-actions {
  display: flex;
  gap: 19px;
  padding-top: 25px;
}

/* Скрытие радио кнопок */
.main-actions input[type="radio"] {
  display: none;
}

.main-actions label {
  background-color: #172139;
  color: white;
  border: none;
  padding: 9px 31px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Futura PT";
}

/* .main-actions input[type="radio"]:checked + label {
  background-color: #172139;
  color: white;
} */

button {
  background-color: #172139;
  color: white;
  border: none;
  padding: 9px 31px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Futura PT";
}
.create-location-btn {
  margin-top: 31px;
  display: flex;
  align-items: center;
  padding: 16px 52px;
  gap: 7px;
}
.location-btn,
.sub-item-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  cursor: pointer;
}

.locations-list {
  padding-top: 26px;
}

.location-item {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 30px;
  padding-top: 17px;
}

.location-name,
.sub-name {
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.location-info,
.sub-info {
  color: #ff6600;
  font-size: 14px;
  font-weight: 300;
}

.edit-action,
.delete-action {
  /* margin-left: 10px; */
  color: #ff6600;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sub-location {
  padding-left: 20px;
}

.sub-item-first {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 21px;
}

.sub-name {
  font-weight: 500;
  margin-right: 10px;
  font-size: 15px;
}

.sub-comment {
  font-weight: 300;
}

.sub-barcode {
  color: #000;
}
.sub-sub-item {
  padding-left: 103px;
  padding-top: 17px;
  display: flex;
  gap: 30px;
}
.sub-sub-name {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  font-weight: 400;
}
.disabled {
  display: none;
}
.search {
  padding-top: 80px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.search-block {
  width: 300px;
  height: 50px;
  display: flex;

  margin: 0 auto;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 0;
}
.search-container {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-top: 25px;
}
.search-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.custom-checkbox input {
  display: none; /* Скрываем стандартный чекбокс */
}

.checkmark {
  min-width: 18px;
  min-height: 18px;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin-right: 10px;
  position: relative;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #ff6600;
  border-color: #ff6600;
}

.custom-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 4px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.search-input {
  width: 300px;
  height: auto;
  border: none;
}
.synchronization-btn {
  width: 336px;
  height: 50px;
  justify-content: center;
}
.btn-submit {
  background-color: #fff;
  padding-left: 20px;
  padding-right: 6px;
  padding-top: 13px;
}
.search-input::placeholder {
  font-size: 14px;
  color: #aeaeae;
  font-weight: 500;
  letter-spacing: 1px;
}

.synchronization-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 18px;
  span {
    font-size: 10px;
  }
}

footer {
  background-color: #ffffff;

  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 12px;
  /* position: fixed; */
  width: --webkit-fill-available;
  bottom: 0;
}

.footer-left {
  color: #a5a5a5;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}
.footer-right {
  display: flex;
  align-items: center;
  gap: 7px;
}
.footer-right a {
  color: #ff6600;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
.footer-right:hover {
  cursor: pointer;
}
.footer-right img {
  width: 17px;
}

/* pop-up */

.popup-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  position: relative;
  z-index: 1;
  background-color: white;
  padding: 25px 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.popup-content h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

.form-group {
  margin-bottom: 17px;
}
.form-group label {
  font-family: "Galdeano", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.form-group input[type="text"],
.form-group select {
  width: 360px;
  padding: 17px 25px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}
.form-group input[type="text"]::placeholder {
  font-family: "Galdeano", sans-serif;
  font-size: 16px;
  color: #aeaeae;
}
.dropdown {
  position: relative;
}

.dropdown select {
  appearance: none;
  background: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10"><path fill="none" stroke="%23999" stroke-width="2" d="M1 1l6 6 6-6"/></svg>')
    #f5f5f5;
  background-repeat: no-repeat;
  background-position: right 10px center;
  font-family: "Galdeano", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #aeaeae;
}

.form-group.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 17px; */
}

.form-group.toggle input[type="checkbox"] {
  appearance: none;
  width: 40px;
  height: 20px;
  background: #ccc;
  border-radius: 20px;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background 0.3s;
}

.form-group.toggle input[type="checkbox"]:checked {
  background: #ff6600;
}

.form-group.toggle input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

.form-group.toggle input[type="checkbox"]:checked:before {
  transform: translateX(20px);
}

.form-buttons {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.btn {
  padding: 16px 50px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn.create {
  background-color: #272c48;
  color: white;
}

.btn.cancel {
  background-color: white;
  color: #272c48;
  border: 1px solid #272c48;
}
